{% extends "base.html"%}
{% block body %}
<h1 style="text-align:center;color:yellow" xmlns="http://www.w3.org/1999/html">
    Fill This Form For Enquiry
</h1>
{% if msg %}
<p style="text-align:center;">{{msg}}</p>
{% endif %}
<div style="width:60%;margin:0 auto;">
<form action="{% url 'saveenq' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label>Enter Your Name</label>
<div class="shadow-lg p-3 mb-5 bg-body rounded">

<input type="text" name="name" class="form-control" required="true" style="box-shadow:rgb(38, 57, 77) 0px,20px,30px,-10px";/>
    </div>
    </div>
    <div class="form-group">
        <label>Select Gender</label>
<br/>

<input type="radio" name="gender" value="Male" style="box-shadow:rgb(38, 57, 77) 0px,20px,30px,-10px";/>Male


            <input type="radio" name="gender" value="Female" style="box-shadow:rgb(38, 57, 77) 0px,20px,30px,-10px";/>Female
    </div>
    <div class="form-group">
        <label>Enter Address</label>
    <div class="shadow-lg p-3 mb-5 bg-body rounded">

        <textarea name="address" class="form-control" style="box-shadow:rgb(38, 57, 77) 0px,20px,30px,-10px";></textarea>
    </div>
    </div>
    <div class="form-group">
        <label>Enter Contact No</label>
        <div class="shadow-lg p-3 mb-5 bg-body rounded">

        <input type="number" name="contactno" class="form-control" required="true" style="box-shadow:rgb(38, 57, 77) 0px,20px,30px,-10px";/>
    </div>
    </div>
    <div class="form-group">
        <label>Enter Email Address</label>
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
        <input type="email" name="emailaddress" required="true" class="form-control" style="box-shadow:rgb(38, 57, 77) 0px,20px,30px,-10px";/>
        </div>
    </div>
    <div class="form-group">
        <lable>Enquiry Text</lable>
        <div class="shadow-lg p-3 mb-5 bg-body rounded">

        <textarea name="enquirytext" class="form-control" style="box-shadow:rgb(38, 57, 77) 0px,20px,30px,-10px";></textarea>
    </div>
    </div>
    <br/>


    <input type="submit" value="submit" class="btn btn-info" style="box-shadow:rgb(38, 57, 77) 0px,20px,30px,-10px";/>
</div>
</form>

    <br/>
</div>

{% endblock body %}